@charset "utf-8";
/* CSS Document---------------------------------------- */

#legends {
	height: 50%;
	width: 50%;
	filter: drop-shadow(2px 2px 2px black);
}

.banner {
	background-color: #4d00FF;
	color: #FFF;
	padding: 5px 0px;
}

.center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.list-style-square {
	list-style: square;
}

.external-link {
	color: seagreen;
}

body {
	font-family: 'Oxygen', sans-serif;
}

header h1{
	margin-top: 5px;
}

video {
	width: 50%;
	height: 50%;
}

/* Font Family---------------------------------------- */

.Birra2 {
	font-family: birra-2,serif;
	font-weight: 700;
	font-style: normal;
}

/* Navbar---------------------------------------- */

nav {
	padding: 10px 0px;
	top: 0;
	width: 100%;
	z-index: 999;
}

nav a {
	text-decoration: none;
}

li.nav {
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	font-weight: 1000;
	letter-spacing: 2px;
	margin: 0;
	padding: 10px 18px 10px 18px;
	display: inline-block;
}

li.active {
	color: #88CCF1;
}

/* Quick Access & Search ---------------------------------------- */

.quickaccessandsearch a {
	margin-right: 25px;
	text-decoration: none;
}

li.quickaccessandsearch {
    display: inline-block;
}

.search {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 3px;
	color: #AAA;
	padding: 20px;
	margin: 50px auto 0px auto;
	width: 82%;
	
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	padding: 15px;
	
}

h2 {
	text-decoration: none;
}

h3 {
	font-size: 20px;
    padding: 15px;
    text-align: left;
    margin-left: 20px;
    font-weight: 500;
    line-height: 2.7;
    letter-spacing: 0.8px;
}

p.quote {
	color: purple;
	font-size: 15px;
	background-color: #E5E4D7;
	padding: 20px;
	border-width: 2px;
	border-style: solid;
	margin: 20px;
}

.list1 {
	color: red;
	font-size: 15px;
	background-color: #E5E4D7;
	padding: 20px;
	border-width: 2px;
	border-style: solid;
	margin: 50px;
}

.list2 {
	color: red;
	font-size: 15px;
	background-color: #E5E4D7;
	padding: 20px;
	border-width: 2px;
	border-style: solid;
	margin: 50px;
}

/* Table---------------------------------------- */

#bgcolorFFF {
	background-color: #FFF;
	color: #8c6b48;
}

th, td {
	border: 2px solid #8c6b48;
}

table {
    background-color: #242f47;
	font-family: 'Oswald', sans-serif;
	color: #FFF;
	border-collapse: collapse;
    margin: 40px auto;
}

td, th {
	width: 300px;
}

/* Feedback Form---------------------------------------- */

.form {
	background-color: rgb(57, 169, 219);
	font-family: Rubik, Arial;
}

form {
	line-height: 30px;
	height: 80%;
}

form hr {
	width: 15%;
}

form h1 {
	color: black;
}

#overlay {
	width: 80%;
	margin: 3% auto;
	margin-bottom: 8%;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 40px;
}

.subject label, .emailnotifications label {
	margin-right: 25px;
}

/* Footer---------------------------------------- */

footer {
    margin-top: 50px;
    width: 100%;
    bottom: 0px;
    background-color: #242f44;
	z-index: 5;
	color: #FFF;
}
footer h3 {
	display: inline-block;
	font-size: 14px;
}